<html ng-app = "todo">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

</head>

<body ng-controller="TodoCtrl">

  <h1>Angular To-Do List</h1>

  <h3>New Item</h3>

  <form>
    <input type="text" placeholder="enter task" ng-model = "item.text">
    <input type="date" placeholder="YYYY-MM-DD" ng-model = "item.dueDate">
    <input type="submit" value="Create TO-DO!" ng-click="createItem()">
  </form>

  <h3>Existing Items</h3>

  <button ng-click="toggleCompletedDisplay()" ng-model="completion.display">{{completion.text}}</button>

  <table>
    <tr todo-item ng-repeat="item in items | filter: showItem()" item-obj = "item" >

    </tr>

  </table>

  <button ng-click="clearCompleted()">Clear Completed</button>

  <!-- angular app -->
  <script src="javascripts/app.js"></script>

  <!-- services -->
  <script src="javascripts/services/todoService.js"></script>

  <!-- controllers -->
  <script src = "javascripts/controllers/TodoCtrl.js"></script>

  <!-- directives -->
  <script src = "javascripts/directives/todoItem.js"></script>

</body>

</html>